export("find.peaks")
export("fit.model")
export("GroupComparison.fn")
export("Groupplot.fn")
export("Individualplot.fn")
export("LowPSD")
export("MFDFA")
export("MFDFAplot.fn")
export("MovingAverage")
export("MSE")
export("Seriesplot.fn")
useDynLib(RespirAnalyzer, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("signal","butter","filtfilt")
importFrom("pracma","findpeaks")
importFrom("graphics", "plot", "abline", "axis", "box", "layout", "legend","lines", "par", "points", "segments", "title")
importFrom("stats", "aov", "coef", "cor", "fft", "lm", "nls","predict", "sd", "t.test")
importFrom("utils", "read.table", "tail")
